body.bg {
  background: linear-gradient(135deg, #6ad3f9, #a3e6c4);
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
}

table {
  width: 100%;
}
